<mat-toolbar color="primary">
    <span>Curros</span>
</mat-toolbar>
<div class="container">
<h2>Pontos de Venda Cadastrados:</h2>
<ul type="none">
    <li *ngFor="let ponto of pontosCadastrados">{{ponto.nome}}, {{ponto.estado.nome}}, {{ponto.cidade.nome}}, {{ponto.pontoDeVenda}}, {{ponto.start}}, {{ponto.end}}</li>
</ul>
<hr>
</div>
<h2>Cadastre um Ponto de Venda:</h2>
<div class="container">
    <form class="full-width" [formGroup]="formCadastro" (click)="create()">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="nome">
        </mat-form-field>

        <div class="estado-cidade">
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                    <mat-option *ngFor="let estado of estados" [value]="estado">{{estado.nome}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cidade</mat-label>
                <mat-select formControlName="cidade">
                    <mat-option *ngFor="let cidade of cidades" [value]="cidade">{{cidade.nome}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Ponto de Venda</mat-label>
            <input type="text" matInput formControlName="pontoDeVenda">
        </mat-form-field>

        <div class="horario">
            <mat-form-field appearance="fill">
                <mat-label>Começa às:</mat-label>
                <input type="time" matInput formControlName="start">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Terminas às:</mat-label>
                <input type="time" matInput formControlName="end">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary">Cadastrar</button>

    </form>
</div>