@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&display=swap');

.material-icons {
  margin-top: 5px;
}

.mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  font-family: "DynaPuff", cursiva;
  background-color: indigo;
  height: 120px;

  img {
    width: 200px;
    padding: 5px;
  }

  h3 {
    font-family: "DynaPuff", cursiva;
    color: white;
  }
}

h2 {
  align-items: center;
  font-family: "DynaPuff", cursiva;
  color: indigo;
}

.container {
  h2 {
    font-family: "DynaPuff", cursiva;
  }
}

.noregister {
  color: #cacaca;
}

.cadastro {
  border-top: solid 2px indigo;

  h2 {
    font-family: "DynaPuff", cursiva;
  }
}

button {
  background-color: indigo;
  color: white;

  &:hover {
    transition: 1s;
    background-color: rgb(55, 0, 95);
    color: white;
  }
}
