html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: clamp(300px, 100%, 1200px);
    margin: 50px auto 0 auto;
    padding: 0 30px;
}

.full-width {
    width: 100%;
}

.estado-cidade{
    width: 100%;
    display: flex;
    justify-content: space-between;

    mat-form-field{
        width: 48%;
    }

}

.horario{
    width: 100%;
    display: flex;
    justify-content: space-between;

    mat-form-field{
        width: 48%;
    }

}

form button {
    margin-left: 20px;
    float: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }